*{
    margin: 0;
    list-style-type: none;
    margin-left: 1%;
    margin-right: 1%;
}

.navbar{
    text-align: right;
    background-color: black;
    height: auto
}


.navbar a{
    margin: 3px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.topbar{
    display: flex;
}

.topbar h1{
    margin-top: 50px;
}

a{
    text-decoration: none;
    color: black;
}

.konten{
    margin-right: 350px;
    margin-top: 20px;
}

.isi-konten{
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 2%;
    text-decoration: none;
    text-align: justify;
}

.footer{
    background-color: black;
    color: white;
}
